*{
    padding: 0;  /*Um espaçamento entre o conteúdo e a margem*/
    margin: 0;  /* Colocar ou tirar margem*/
    text-decoration: none;  /*Tirando a decoração de texto (sublinhado)*/
    list-style: none; /*Para retirar os sinais da lista*/
    font-family: 'Times New Roman', Times, serif;  /* Mudar a fonte das letras*/
}

.cabecalho{
    background-color: black;  /* Mudar cor de fundo*/
    color: white;
    padding: 6rem;  /*Um espaçamento entre o conteúdo e a margem*/
    display: flex; /* Para meus itens ficarem lado á lado*/
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 15px;
}

.menu li a{
    color: white;
    padding: 10px;  /*Um espaçamento entre o conteúdo e a margem*/
    font-size: 15px;
    cursor: pointer;
}

.menu li a:hover {
    color: #fea612;
    transition: 0.8s;
    cursor: pointer;
}







#secao-1{
    background: rgb(247,222,183);
    background: linear-gradient(180deg, rgba(247,222,183,1) 29%, rgba(255,154,0,1) 79%);
    padding: 15rem;  /*Um espaçamento entre o conteúdo e a margem*/
}

#secao-1 h2{
    font-size: 3em;  /* Aumentar o tamanha do ícone*/
    color: rgba(0, 0, 0, 0.767);
}

#secao-1 p{
    font-size: 2em;
    margin: 20px 0;
}

#secao-1 button{
    padding: 25px;  /*Um espaçamento entre o conteúdo e a margem*/
    border-color:#fea612;
    color: #fea612;
    border-radius: 50px;
    width: 20em;
    font-size: 1em;
    box-shadow: 7px 7px 7px  rgba(0, 0, 0, 0.425);
    cursor: pointer;
}

#secao-1 button:hover{
    border-color: #fea612 ;
    background-color: #fea7124f;  /* Mudar cor de fundo*/
    color: white;
    transition: 0.8s;
}

#secao-1 button a{
    text-decoration: none;  
    color:  #fea612; 
    font-size: 15px; 
}







#app{
    padding: 15rem;  /*Um espaçamento entre o conteúdo e a margem*/
    display: flex; /* Para meus itens ficarem lado á lado*/
    justify-content: space-around;
}

#app button{
    padding: 25px;  /*Um espaçamento entre o conteúdo e a margem*/
    border-color:#fea612;
    color: #fea612;
    border-radius: 50px;
    width: 20em;
    font-size: 1em;
    box-shadow: 7px 7px 7px  rgba(0, 0, 0, 0.425);
    cursor: pointer;
}

#app button:hover{
    border-color: #fea612 ;
    background-color: #fea712d2;  /* Mudar cor de fundo*/
    color: white;
    transition: 0.8s;
}

#app button a{
    text-decoration: none;  
    color:  #fea612; 
    font-size: 15px; 
}

#app div img{
    width: 25rem ; 
    height: 25rem ; 
    margin-left: 70px ; 
    margin-top: -70px ; 
 }

 #app div p{
    font-size: 3em; 
    margin-bottom: 20px;  
 }





#container{
    padding: 15rem;  /*Um espaçamento entre o conteúdo e a margem*/
}
 
#container h2{
    font-size: 40px; 
   text-align: center;  
   color:#febb46be; 
   margin-top: -20rem ; 
   margin-bottom: 2rem;  
}

#container p{
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.897);
    margin-bottom: 30px;
}

#container button{
    color: #fea612;
    border-color: #fea612;
    border-radius: 50px;
    padding: 20px;  /*Um espaçamento entre o conteúdo e a margem*/
    width: 15vw;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.534);
    cursor: pointer;
}

#container button:hover{
    border-color: #f1d29b ;
    background-color: rgb(255, 208, 0);  /* Mudar cor de fundo*/
    color: white;
    transition: 0.8s;
}

 #linha{
    width: 70%;
    margin: 45px auto;
 }

 #container img{
    width: 45rem;
    margin-left: 7em;
 }






 #container-amazon{
    background: linear-gradient(180deg, rgba(221,204,157,1) 36%, rgba(255,196,0,1) 70%), 
    url();
    background-position: center;
    background-attachment: fixed;
    display: flex; /* Para meus itens ficarem lado á lado*/
    align-items: center;
    justify-content: space-evenly;
    padding: 12rem;  /*Um espaçamento entre o conteúdo e a margem*/
 }

 #container-amazon img{
    width: 15rem;
    height: auto; 
    margin-top: 5rem;
}

#container-amazon h2{
    color: white;
    font-size: 30px;
    text-align: center;
}

#container-amazon p{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 800;
}





#roda-pe{
    background-color: rgba(0, 0, 0, 0.938);  /* Mudar cor de fundo*/
    padding: 10vh;  /*Um espaçamento entre o conteúdo e a margem*/
    text-align: center;
}

#roda-pe img{
    width: 16rem;
    height: 12rem;
    margin-top: -5rem;
    margin-bottom: 20px;
    text-align: center;
 }

 #roda-pe div{
    color: rgba(255, 255, 255, 0.562);
    display: flex; /* Para meus itens ficarem lado á lado*/
    justify-content: space-between;
    margin: 20px 0;
    font-size: 15px;
 }

 #roda-pe div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
 }

 #roda-pe a:hover{
    color: #fca61d;
    transition: 0.5s;
 }

@media screen and (max-width : 1920px ) {
    
}

@media screen and (max-width: 1366px) {
    
}


@media screen and (max-width: 991px) {

    #sessao a button{
        width: 14rem;
        padding: 0.9rem;
    }

    #sessao p{
        font-size: 1.5rem;

    }

    #app button a{
        width: 17rem;
        padding: 0.9rem;
    }

    #app{
        padding: 30vh;
        width: auto;
    }

    #app div p{
        padding: 1vw;
        font-size: 1.8rem;
    }

    #app div img{
     width: 20rem;
     margin-left: 1vw;
    }

    #container{
        padding: 35vh;
    }

    #container button{
        width: 14rem;
        padding: 0.9rem
    }


}

@media screen and (max-width : 767px ) {
    
}

@media screen and (max-width : 480px ) {
    
}